{% extends 'base.html' %}
{% load static %}
{% block title %}产品分类{% endblock %}
{% block css %}{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            产品分类
            <small>ProductCategory</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">主页</a></li>
            <li class="active">产品分类</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">产品分类</h3>
                        </div>


                        <!-- /.box-header -->
                        <div class="box-body" >
                            {#        自定义搜索条件区域#}
                        <div class="fixed-table-toolbar">
                            <div class="pull-left search">
                                <input id="search_keyword" class="form-control" placeholder="请输入名称以查询">
                            </div>

                            <div class="columns columns-left btn-group pull-left">
                                <button id="search_button" type="button" class="btn btn-primary">查询</button>
                            </div>
                            <div class="columns columns-left btn-group pull-left">
                                <button id="reset-button" type="button" class="btn btn-primary" onclick="clean()">重置</button>
                            </div>

                            <!-- 按钮触发模态框 -->
                            <div class="columns columns-right btn-group pull-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myaddModal">新增记录</button>
                            </div>


                            <!-- 新增模态框（Modal） -->
                            <form id="add_data" action="#" method="post" class="form-horizontal" role="form">
                                <div class="modal fade" id="myaddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                新增记录
                                                </h4>
                                            </div>
                                            {# 模态框body #}
                                            <div class="modal-body" style="height: 100%;">

                                                <div class="form-group">
                                                    <label for="c_name" class="col-sm-3 control-label" >名称</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control"  name="c_name" id="c_name" required="required"
                                                            placeholder="请输入名称" style="text-align: left">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="p_name" class="col-sm-3 control-label" >父类名称</label>
                                                    <div class="col-sm-7">
                                                        <select class="form-control" name="p_name" id="p_name" required="required">
                                                            <option value="">请选择项目</option>
                                                            {% for pc in product_category %}
                                                            <option value="{{ pc.id }}" hassubinfo="true">{{ pc.category_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                {#              <div class="form-group">#}
                                {#                   <label for="firstname" class="col-sm-3 control-label">转测时间</label>#}
                                {#                   <div class='input-group col-sm-7 date' id='datetimepicker2'>#}
                                {#                    <div class="col-sm-7" id='datetimepicker2'>#}
                                {#                                             <input type='text' class="form-control" name="submit_test_time" id="submit_test_time" required="required">#}
                                {#                                             <span class="input-group-addon">#}
                                {#                                                 <span class="glyphicon glyphicon-calendar"></span>#}
                                {#                                             </span>#}
                                {#                                         </div>#}
                                {#                                     </div>#}

                                            </div>
                                {#            模态框底部#}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <input type="button" data-dissmiss="modal" onclick="add_category()" class="btn btn-primary"value="提交">
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </form>


                            <!-- 修改数据模态框（Modal） -->
                            <form id="update_data" action="#" method="post" class="form-horizontal" role="form">
                                <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeModal()">
                                                &times;
                                                </button>
                                    <h4 class="modal-title" id="updateModalLabel">
                                        修改项目
                                    </h4>
                                </div>
                                {# 模态框body #}
                                 <div class="modal-body" style="height: 100%;">
                                    <div class="form-group">
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control"  name="update_id" id="update_id" required="required"
                                                  style="text-align: left;
                                                  display:none;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="c_name" class="col-sm-3 control-label" >名称</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control"  name="update_c_name" id="update_c_name" required="required"
                                                placeholder="请输入名称" style="text-align: left">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="p_name" class="col-sm-3 control-label" >父类名称</label>
                                        <div class="col-sm-7">
                                            <select class="form-control" name="update_p_name" id="update_p_name" required="required">
                                                <option value="">请选择项目</option>
                                                {% for pc in product_category %}
                                                <option value="{{ pc.id }}" hassubinfo="true">{{ pc.category_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                    {#            模态框底部#}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()" >关闭</button>
                                    <input type="button" class="btn btn-primary" onclick="update_category()" value="提交"/>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    {##}
                    </form>


                   {#        bootstrap table自动渲染区域#}
                    <table id="mytab" class="table table-bordered table-hover"></table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{% block script %}
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
<link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
<script src="{% static 'js/toastr.min.js' %}"></script>s
<script src="{% static 'js/jquery.cookie.js' %}"></script>s


<script>
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: true,
        positionClass: "toast-top-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

    $("#myaddModal").on("hidden.bs.modal", function() {
        document.getElementById("add_data").reset();
        });
    $("#updateModal").on("hidden.bs.modal", function() {
        document.getElementById("update_data").reset();
        });

    function closeModal() {
        $("#update_p_name option:selected").each(function () {
            $(this).attr("selected", false);
        })
    }

    function update_category() {

        $.ajax(
            {
                //几个参数需要注意一下
                cache:false,
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                //url: "/product_category/pc_index/updatePcData/" ,//url
                url: "{% url 'product_manager:updatePcData' %}" ,//url
                headers:{"X-CSRFToken":$.cookie("csrftoken")},

                data: $('#update_data').serialize(), //将模态框的form表单数据序列化，以便提交到后台
                processData: false,// 不加会报错
                //contentType: false,// 不加会报错
                async:true,  //必须要为false,必须必须

                success: function (data) {
                    console.log(data);//打印服务端返回的数据(调试用)
                    if(data.status === "success"){

                        {#关闭模态框并清除框内数据，否则下次打开还是上次的数据#}
                        $('#updateModal').modal('hide');

                        {# 判断确实正确入库之后提示#}
                        toastr.success('提交数据成功');

                        {#刷新表格数据#}
                        $("#mytab").bootstrapTable('refresh');

                     }
                 },
                error : function() {
                    toastr.error("输入数据有误！");
                 }
            });
    }
    
    function add_category() {
        $.ajax({
        //几个参数需要注意一下
            cache:false,
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            //url: "/product_category/pc_index/addPcData/" ,//url
            url: "{% url 'product_manager:addPcData' %}" ,//url
            headers:{"X-CSRFToken":$.cookie("csrftoken")},
            data: $('#add_data').serialize(), //将模态框的form表单数据序列化，以便提交到后台
            async:true,  //必须要为false,必须必须

            success: function (data) {
                console.log(data);//打印服务端返回的数据(调试用)
                if(data.status == "success"){
                    {#关闭模态框并清除框内数据，否则下次打开还是上次的数据#}
                    //document.getElementById("add-smoke-form").reset();
                    $('#myaddModal').modal('hide');

                    {# 判断确实正确入库之后提示#}
                    toastr.success('提交数据成功');

                    {#刷新表格数据#}
                    $("#mytab").bootstrapTable('refresh');

                 }
             },
            error : function() {
                toastr.error("输入数据有误！");
             }
        });
    }


    function actionFormatter(value, row, index) {
        //console.log(value);
        //console.log(row);
        //console.log(index);
        var id = row.id;
        var data = JSON.stringify(row);
        var result = "";
        {#result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-search'></span></a>";#}
        {#result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + JSON.stringify(row) + "','" + id + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";#}
        result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + id + "','" + index + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
        {#result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"edit()\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";#}
        result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"deleteconfirm('" + id + "')\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
        return result;
    }

     // getData方法获取全部页面数据后，将data转为json对象，使用index当前行号作为下标获取对应数据
    function EditViewById(id, index){
        $("#update_p_name option").removeAttr("selected");
        var data = JSON.stringify($("#mytab").bootstrapTable('getData')); //获取全部数据
        var data_json = JSON.parse(data); //data_json和data_json2一样都是json对象
        console.log(data_json);
        //由于data2已经是对象了，alert不能显示对象只能显示为[object Object],需要控制台打印
        {#alert(data_json[0]); #}
        //根据index找到对应行数据，填充数据到修改模态框
        $("#update_c_name").val(data_json[index].name);
        $("#update_id").val(data_json[index].id);
        var parent = data_json[index].parent;
        console.log(parent);
        if(parent){
            $("#update_p_name").find("option:contains('" + parent + "')").each(function(){
                  if ($(this).text() === parent) {
                     $(this).attr('selected', true);
                  }
                });
        }
        else {
            $("#update_p_name").find("option:contains('请选择项目')").attr('selected', true);
        }
        //弹出修改模态框，非新增模态框
        $('#updateModal').modal('show');
    }


    // 搜索查询按钮触发事件
    $(function() {
        $("#search_button").click(function () {
            $('#mytab').bootstrapTable(('refresh')); // 很重要的一步，刷新url！
        })
    });

    // 重置按钮触发事件
    function clean(){
                    //先清空
                    $('#search_keyword').val('');
                    //清空后查询条件为空了，再次刷新页面，就是全部数据了
                    $('#mytab').bootstrapTable(('refresh')); // 很重要的一步，刷新url！
                }

    $('#mytab').bootstrapTable({
        url:"{% url 'product_manager:getPcData' %}",    //请求后台的URL（*）
        //url:'/product_category/pc_index/getPcData/',    //请求后台的URL（*）
        method: 'GET',   //请求方式（*）
        dataType: "json",
        uniqueId: 'id',
        striped: false,
        cache: false,
        sortName: 'id',
        sortable: false,
        sortOrder: 'desc',
        sidePagination: "server",
        undefinedText: '--',
        singleSelect: false,
        toolbar: '#soft-toolbar',
        search: false,
        strictSearch: true,
        clickToSelect: true,
        pagination: true,
        pageNumber: 1,
        pageSize: 20,
        pageList: [20, 50, 100],
        paginationPreText: "上一页",
        paginationNextText: "下一页",
        queryParamsType: "",
        queryParams : function (params){
            var temp = {
                pageSize : params.pageSize,
                pageNumber : params.pageNumber,
                searchText: params.searchText,
                sortName: params.sortName,
                sortOrder: params.sortOrder,
                search_kw: $('#search_keyword').val(), // 请求时向服务端传递的参数
            };
            return temp;
        },

        columns: [
            //{
                //checkbox: true
            //},
            {
                field: 'no',
                title: '序号',
                sortable: true,
                align: "center",
                width: "5%",
                formatter: function (value, row, index) {
                    //获取每页显示的数量
                    var pageSize=$('#mytab').bootstrapTable('getOptions').pageSize;
                    //获取当前是第几页
                    var pageNumber=$('#mytab').bootstrapTable('getOptions').pageNumber;
                    //返回序号，注意index是从0开始的，所以要加上1
                    return pageSize * (pageNumber - 1) + index + 1;
                }
            },
            {
                field: 'name',
                title:'名称',
                width: '15%'
            },
            {
                field: 'parent',
                title:'父类',
                width: '15%'
            },
            {
                field: 'c_time',
                title:'创建时间',
                width: '25%'
            },
            {   field: 'm_time',
                title:'修改时间',
                width: '25%'},
            {
                field: 'operate',
                title: '操作',
                align: 'center',
                valign: 'middle',
                formatter: actionFormatter,
            },
        ],
        onLoadSuccess: function(data) {
               {#获取行数据的状态#}
           {#    console.log('渲染数据完成后，打印所有数据')#}
           {#    console.log(data);#}
               {#获取所有列表数据#}
           {#    var data = $("#mytab").bootstrapTable("getData");#}
           {#    console.log('已获取全部数据%s', data);#}
               {#根据每行数据的status值渲染开关#}
           {#    for (var i = 0; i < data.length; i++) {#}
           {#        console.log(data[i].project_id, data[i].status)#}
           {#        if (data[i].status == 1) {#}
           {#            console.log('这个是开启的')#}
           {#            $("[id='project_status_switch_on']").bootstrapSwitch({#}
           {#                onText: "启用",      // 设置ON文本#}
           {#                offText: "禁用",    // 设置OFF文本#}
           {#                onColor: "success",// 设置ON文本颜色(info/success/warning/danger/primary)#}
           {#                offColor: "danger",  // 设置OFF文本颜色 (info/success/warning/danger/primary)#}
           {#                size: "small",    // 设置控件大小,从小到大  (mini/small/normal/large)#}
           {#                // 当开关状态改变时触发#}
           {#                onSwitchChange: function (event, state) {#}
           {#                    console.log(state);#}
                               {#获取该行的project_id#}
           {#                    var project_id = this.value;#}
           {#                    console.log(project_id);#}
           {#                    if (state == false) {#}
           {#                        status = 1#}
                                   {#alert("ON");#}
           {#                        console.log(status);#}
           {#                        set_status(project_id, status);#}
           {#                    } else {#}
           {#                        status = 0#}
                                   {#alert("OFF");#}
           {#                        set_status(project_id, status);#}
           {#                    }#}
           {#                }#}
           {#            })#}
           {#        } else {#}
           {#            console.log('这个是禁用的')#}
           {#            $("[id='project_status_switch_off']").bootstrapSwitch({#}
           {#                onText: "启用",      // 设置ON文本#}
           {#                offText: "禁用",    // 设置OFF文本#}
           {#                onColor: "success",// 设置ON文本颜色(info/success/warning/danger/primary)#}
           {#                offColor: "danger",  // 设置OFF文本颜色 (info/success/warning/danger/primary)#}
           {#                size: "small",    // 设置控件大小,从小到大  (mini/small/normal/large)#}
           {#                // 当开关状态改变时触发#}
           {#                onSwitchChange: function (event, state) {#}
           {#                    console.log(state);#}
                               {#获取该行的project_id#}
           {#                    var project_id = this.value;#}
           {#                    console.log(project_id);#}
           {#                    if (state == false) {#}
           {#                        status = 1#}
                                   {#alert("ON");#}
           {#                        console.log(status);#}
           {#                        set_status(project_id, status);#}
           {#                    } else {#}
           {#                        status = 0#}
                                   {#alert("OFF");#}
           {#                        set_status(project_id, status);#}
           {#                    }#}
           {#                }#}
           {#            })#}
           {#        }#}
           {#    }#}
           },
        onLoadError: function () {
            toastr.error("数据加载失败！", "错误提示");
        },
        onClickRow: function (row, $element) {
            //    EditViewById(id, 'view');
        }
    });

    function deleteconfirm(id) {
        var tmp = confirm("确认删除？")
        if(tmp === true){
            DeleteByIds(id)
        }
    }

    function DeleteByIds(id) {
        $.ajax({
            type: "POST",
            url: "{% url 'product_manager:deletePcData' %}",
            //url: '/product_category/pc_index/deletePcData/',
            headers:{"X-CSRFToken":$.cookie("csrftoken")},

            data: {id: id},
            dataType: "json",
            success: function (data) {
                if (data.ret) {
                    toastr.success("数据删除成功！")
                    $('#mytab').bootstrapTable('refresh');
                }
            },
            error: function (data) {
                toastr.error("数据删除失败！")
            }
        });
    }

</script>

{% endblock %}
