{% extends 'base.html' %}
{% load static %}
{% block title %}一般物料检验{% endblock %}
{% block css %}

    <link href="{% static 'css/bootstrap-editable.css' %}" rel="stylesheet"/>
    <link href="{% static 'bootstrap-table-1.18.0/dist/bootstrap-table.min.css' %}" rel="stylesheet">

{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>一般物料检验<small>GeneralMaterialInspection</small></h1>
        <ol class="breadcrumb">
            <li><a href="#">主页</a></li>
            <li class="active">一般物料检验</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body" >
                        {#        自定义搜索条件区域#}
                        <div class="col-xs-12">
                            <div class="form-inline col-xs-12" style="margin: 5px;margin-bottom: 20px;">
                                <input id="erpInput" class="form-control" style="width: 100%;
                                                                                        min-width: 400px;
                                                                                        max-width: 600px;
                                                                                        height: 100%;
                                                                                        min-height: 40px;
                                                                                        font-size: 20px;
                                                                                        margin: 5px;"
                                       placeholder="请输入物料号，如ZxxxxxxxxxVxxxxA">
                                <input id="batchInput" class="form-control" style="width: 100%;
                                                                                        min-width: 100px;
                                                                                        max-width: 200px;
                                                                                        height: 100%;
                                                                                        min-height: 40px;
                                                                                        font-size: 20px;
                                                                                        margin: 5px;"
                                       placeholder="请输入批次号">
                                <button id="search" style="margin-left: 5px;" type="button" class="btn btn-lg btn-default" onclick="search()">查询</button>
                                <button id="save" style="margin-left: 5px;" type="button" class="btn btn-lg btn-primary" onclick="save()">保存检验结果</button>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-inline form-group">
                                    <label class="control-label" >物料号:</label>
                                    <label id="erp_no" class="control-label" ></label>
                                </div>
                                <div class="form-inline form-group">
                                    <label class="control-label" >物料名称:</label>
                                    <label id="name" class="control-label" ></label>
                                </div>
                                <div class="form-inline form-group">
                                    <label class="control-label" >物料分类:</label>
                                    <label id="category" class="control-label" ></label>
                                </div>
                                <div class="form-inline form-group">
                                    <label class="control-label" >型号描述:</label>
                                    <label id="model" class="control-label" ></label>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-inline form-group">
                                    <label class="control-label" >批次号:</label>
                                    <label id="batch_num" class="control-label" ></label>
                                </div>
                               <div class="form-inline form-group">
                                    <label class="control-label" >批次数量:</label>
                                    <input type="number" step="0.01" min="0" class="form-control" name="batch_quantity" id="batch_quantity" placeholder="输入数量">
                                </div>
                                <div class="form-inline form-group">
                                    <label class="control-label" >合格数量:</label>
                                    <label id="qualified_quantity" class="control-label" ></label>
                                </div>
                                <div class="form-inline form-group">
                                    <label class="control-label" >合格率:</label>
                                    <label id="pass_rate" class="control-label" ></label>
                                </div>

                            </div>
                            <div class="col-xs-4">
                                <div class="form-inline form-group">
                                    <label class="control-label" >检验方式:</label>
                                    <select class="form-control" name="inspect_mode" id="inspect_mode" required="required">
                                        <option value="0">全检</option>
                                        <option value="1">抽检</option>
                                    </select>
                                </div>
                                <div class="form-inline form-group">
                                    <label class="control-label" >抽检数量:</label>
                                    <input type="number" step="0.01" min="0" class="form-control" name="rcheck_quantity" id="rcheck_quantity" placeholder="输入数量">
                                </div>
                                <div class="form-inline form-group">
                                    <label class="control-label" >检验员:</label>
                                    <label id="user" class="control-label" ></label>
                                </div>
                                <div class="form-inline form-group">
                                    <label class="control-label" >检验日期:</label>
                                    <label id="date" class="control-label" ></label>
                                </div>
                            </div>
                        </div>


                        {#        bootstrap table自动渲染区域#}
                        <div class="col-xs-12">
                            {% csrf_token %}
                            <table id="myTab" class="table table-bordered table-hover"></table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}

    <script src="{% static 'bootstrap-table-1.18.0/dist/bootstrap-table.js' %}"></script>
    <script src="{% static 'bootstrap-table-1.18.0/dist/locale/bootstrap-table-zh-CN.js' %}"></script>
    <script src="{% static 'js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-1.18.0/dist/extensions/editable/bootstrap-table-editable.js' %}"></script>

    <link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/myscript.js' %}"></script>

<script>

    toastr.options = {
            closeButton: true,
            debug: true,
            progressBar: true,
            positionClass: "toast-top-center",
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "2000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
        };

    let obj = {};
    {% for category in material_categorys %}
        obj["{{category.0}}"]= "{{ category.1 }}";
    {% endfor %}

    function search() {
        var formdata = new FormData(); //ajax上传文件的时候，需要这个类型，它会将添加给它的键值对加工成formdata的类型
        var token = $("[name='csrfmiddlewaretoken']").val();
        {#formdata.append("csrfmiddlewaretoken", token); //别忘了csrf_token#}
        formdata.append("erpInput", $("#erpInput").val());
        formdata.append('batchInput', $("#batchInput").val());
        $.ajax(
            {
                //几个参数需要注意一下
                cache:false,
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "{% url 'Inspection:getGMaterialInfo' %}" , //url
                headers:{"X-CSRFToken":$.cookie("csrftoken")},
                data: formdata, //将模态框的form表单数据序列化，以便提交到后台
                processData: false,// 不加会报错
                contentType: false,// 不加会报错
                async:true,  //必须要为false,必须必须

                success: function (data) {
                    if(data.ret){
                        $('#erp_no').text(data.info.erp_no);
                        $('#name').text(data.info.name);
                        $('#category').text(obj[data.info.category]);
                        $('#model').text(data.info.model);
                        $('#batch_num').text(data.info.batch_num);
                        $('#qualified_quantity').text(data.info.qualified_quantity);
                        $('#batch_quantity').val(data.info.batch_quantity);
                        $('#pass_rate').text(data.info.pass_rate);
                        $('#user').text(data.info.user);
                        $('#date').text(data.info.date);

                        $("#myTab").bootstrapTable('refresh');
                     }
                    else {
                        toastr.error('Error: ' + data.errMsg)
                    }
                 },
                error : function() {
                    toastr.error("输入数据有误！");
                 }
            });
    }

    function save() {
        var allTableData = $("#myTab").bootstrapTable("getData");
        data = {};
        data.erpInput = $("#erpInput").val();
        data.batchInput = $("#batchInput").val();
        data.row = allTableData;
        data.total_quantity = $('#batch_quantity').val();
        data.rcheck_quantity = $('#rcheck_quantity').val();
        data.inspect_mode = $('#inspect_mode').val();
        var json_data = JSON.stringify(data);
        $.ajax({
            url:"{% url 'Inspection:saveGMInspectionData' %}",
            headers:{"X-CSRFToken":$.cookie("csrftoken")},
            type:"post",
            data:json_data, //将添加好数据的formdata放到data这里
            processData: false,    // 不处理数据
            contentType: false,    // 不设置内容类型
            dataType: "json",
            success:function(data){
                if (data.ret){
                    $('#myTab').bootstrapTable('refresh');
                    toastr.success("数据保存成功！");

                    }
                else {
                    toastr.error("错误：" + data.errMsg);
                }},
            error: function(data){
                toastr.error('导入异常！')
                }
        })
    }

    var columns =  [
            {
                field: 'num',
                title:'检验项编号',
                width: '10%',
                align: 'center',
                valign: 'middle',
                sortable: false,
            },
            {
                field: 'name',
                title:'检验项名称',
                width: '15%',
                align: 'center',
                valign: 'middle',
                sortable: false,
            },
            {
                field: 'category',
                title:'检验类型',
                width: '15%',
                align: 'center',
                valign: 'middle',
                sortable: false,
                formatter: function (value, row, index) {
                    var obj = {};
                    {% for category in inspection_categorys %}
                        obj["{{category.0}}"]= "{{ category.1 }}";
                    {% endfor %}
                    return obj[value];
                }
            },
            {
                field: 'mode',
                title:'检验方法',
                width: '15%',
                align: 'center',
                valign: 'middle',
                sortable: false,
                formatter: function (value, row, index) {
                    var obj = {};
                    {% for mode in inspection_modes %}
                        obj["{{mode.0}}"]= "{{ mode.1 }}";
                    {% endfor %}
                    return obj[value];
                }
            },
            {
                field: 'upper',
                title:'上限',
                width: '15%',
                align: 'center',
                valign: 'middle',
            },
           {   field: 'lower',
                title:'下限',
                width: '15%',
                align: 'center',
                valign: 'middle',
            },
            {   field: 'measure',
                title:'测量值',
                width: '10%',
                align: 'center',
                valign: 'middle',
                editable: {
                    type: 'text',
                    emptytext: '空',
                    mode:'inline',
                    validate: function (v) {
                    if (!v) {
                        return "不能为空";
                    }
                },
                },
            },
            {
            field: 'pass_quantity',
            title: '合格数量',
            width: '10%',
            align: 'center',
            valign: 'middle',
            editable: {
                type: 'text',
                emptytext: '空',
                mode:'inline',
                validate: function (v) {
                    if (!v) {
                        return "不能为空";
                    }
                },
            },
            cellStyle: function (value, row, index) {
                        if (value == undefined || value == "" || isNaN(value)) {
                            return { css: { "background-color": "yellow" } }
                        }
                        else {
                            return { css: { "background-color": "white" } }
                        }
                    },
            }
        ];
    var urls = "{% url 'Inspection:getGMInspectionData' %}";
    tableFresh2(columns, urls, 'id');


</script>

{% endblock %}
