{% extends 'base.html' %}
{% load static %}
{% block title %}检验标准{% endblock %}
{% block css %}{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>检验标准<small>TestStandard</small></h1>
        <ol class="breadcrumb">
            <li><a href="#">主页</a></li>
            <li class="active">检验标准</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ material.erp_no }}|{{ material.name }}</h3>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body" >
                        {#        自定义搜索条件区域#}
                        <div class="col-xs-12" style="">
                            <div class="form-inline col-xs-5 ">
                                <input id="search_keyword" class="form-control" placeholder="请输入名称以查询">
                                <button id="search_button" type="button" class="btn btn-primary">查询</button>
                                <button id="reset-button" type="button" class="btn btn-primary" onclick="clean()">重置</button>
                            </div>
                           
                            <!-- 按钮触发模态框 -->
                            <div class="pull-right ">
                                <form class="form-inline" role="form" id="uploadForm" >
                                    {% csrf_token %}
{#                                    <div class="form-group">#}
{#                                        <label for="newVersionInput" class="control-label" >新版本:</label>#}
{#                                        <input type="text" class="form-control" name="newVersionInput" id="newVersionInput" placeholder="输入版本">#}
{#                                    </div>#}
{#                                    <div class="form-group">#}
{#                                        <label for="curVersionInput" class="control-label" >当前版本:</label>#}
{#                                        <label for="curVersionInput" class="control-label" >{{ teststandard.version }}</label>#}
{#                                    </div>#}
                                    <div class="form-group">
                                        <input type="file" name="uploadFile" id="uploadFile" placeholder="请选择文件">
                                    </div>
                                    <div class="form-group">
                                        <input type="button" class="btn btn-facebook" name="submit" value="导入" id="uploadSubmit">
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">新增记录</button>
                                    </div>
                                </form>   
                            </div>
                        </div>

                        <!-- 新增模态框（Modal） -->
                        <form id="addForm" action="#" method="post" class="form-horizontal" role="form">
                            {% csrf_token %}
                            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">新增记录</h4>
                                        </div>
                                        {# 模态框body #}
                                        <div class="modal-body" style="height: 100%;">

                                            <div class="form-group">
                                                <label for="numInput" class="col-sm-3 control-label" >检验项编号</label>
                                                <div class="col-sm-7">
                                                    <input type="number" min=1 class="form-control"  name="numInput" id="numInput" required="required"
                                                        placeholder="请输入测试项编号..." style="text-align: left">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="nameInput" class="col-sm-3 control-label" >检验项名称</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control"  name="nameInput" id="nameInput" required="required"
                                                        placeholder="请输入检验项名称..." style="text-align: left">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    <label for="categorySelect" class="col-sm-3 control-label" >类别</label>
                                                    <div class="col-sm-7">
                                                        <select class="form-control" name="categorySelect" id="categorySelect" required="required">
                                                            <option value="">请选择项目</option>
                                                            {% for category in categorys %}
                                                            <option value="{{ category.0 }}" hassubinfo="true">{{ category.1 }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            <div class="form-group">
                                                    <label for="modeSelect" class="col-sm-3 control-label" >物料类别</label>
                                                    <div class="col-sm-7">
                                                        <select class="form-control" name="modeSelect" id="modeSelect" required="required">
                                                            <option value="">请选择项目</option>
                                                            {% for mode in modes %}
                                                            <option value="{{ mode.0 }}" hassubinfo="true">{{ mode.1 }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            <div class="form-group">
                                                <label for="upperInput" class="col-sm-3 control-label" >上限</label>
                                                <div class="col-sm-7">
                                                    <input type="number" step='0.01' class="form-control"  name="upperInput" id="upperInput" required="required"
                                                        placeholder="请输入数值..." style="text-align: left">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="lowerInput" class="col-sm-3 control-label" >下限</label>
                                                <div class="col-sm-7">
                                                    <input type="number" step='0.01' class="form-control"  name="lowerInput" id="lowerInput" required="required"
                                                        placeholder="请输入数值..." style="text-align: left">
                                                </div>
                                            </div>

                                        </div>
                            {#            模态框底部#}
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <input type="button" data-dissmiss="modal" onclick="add()" class="btn btn-primary"value="提交">
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>
                        </form>

                        <form id="updateForm" action="#" method="post" class="form-horizontal" role="form">
                                <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                                                &times;
                                                </button>
                                                <h4 class="modal-title" id="updateModalLabel">
                                                    修改项目
                                                </h4>
                                            </div>
                                            {# 模态框body #}
                                             <div class="modal-body" style="height: 100%;">
                                                <div class="form-group">
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control"  name="u_idInput" id="u_idInput" required="required" style="text-align: left;
                                                            display: none;">
                                                    </div>
                                                </div>

                                                 <div class="form-group">
                                                <label for="u_numInput" class="col-sm-3 control-label" >检验项编号</label>
                                                <div class="col-sm-7">
                                                    <input type="number" min=1 class="form-control"  name="u_numInput" id="u_numInput" required="required"
                                                        placeholder="请输入测试项编号..." style="text-align: left">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="u_nameInput" class="col-sm-3 control-label" >检验项名称</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control"  name="u_nameInput" id="u_nameInput" required="required"
                                                        placeholder="请输入检验项名称..." style="text-align: left">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    <label for="u_categorySelect" class="col-sm-3 control-label" >类别</label>
                                                    <div class="col-sm-7">
                                                        <select class="form-control" name="u_categorySelect" id="u_categorySelect" required="required">
                                                            <option value="">请选择项目</option>
                                                            {% for category in categorys %}
                                                            <option value="{{ category.0 }}" hassubinfo="true">{{ category.1 }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            <div class="form-group">
                                                    <label for="u_modeSelect" class="col-sm-3 control-label" >检验方法</label>
                                                    <div class="col-sm-7">
                                                        <select class="form-control" name="u_modeSelect" id="u_modeSelect" required="required">
                                                            <option value="">请选择项目</option>
                                                            {% for mode in modes %}
                                                            <option value="{{ mode.0 }}" hassubinfo="true">{{ mode.1 }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            <div class="form-group">
                                                <label for="u_upperInput" class="col-sm-3 control-label" >上限</label>
                                                <div class="col-sm-7">
                                                    <input type="number" step='0.01' class="form-control"  name="u_upperInput" id="u_upperInput" required="required"
                                                        placeholder="请输入数值..." style="text-align: left">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="u_lowerInput" class="col-sm-3 control-label" >下限</label>
                                                <div class="col-sm-7">
                                                    <input type="number" step='0.01' class="form-control"  name="u_lowerInput" id="u_lowerInput" required="required"
                                                        placeholder="请输入数值..." style="text-align: left">
                                                </div>
                                            </div>

                                                {# 模态框底部#}
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal"  >关闭</button>
                                                    <input type="button" class="btn btn-primary" onclick="update()" value="提交"/>
                                                </div>
                                             </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                                </div>
                            </form>

                        {#        bootstrap table自动渲染区域#}
                        <div class="col-xs-12">
                            <table id="myTab" class="table table-bordered table-hover"></table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
<script src="{% static 'js/bootstrap-table.min--bak.js' %}"></script>
<script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
<link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
<script src="{% static 'js/toastr.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/myscript.js' %}"></script>


<script>

    toastr.options = {
            closeButton: true,
            debug: true,
            progressBar: true,
            positionClass: "toast-top-center",
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "2000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
        };

    $("#addModal").on("hidden.bs.modal", function() {document.getElementById("addForm").reset();}); 

    $("#updateModal").on("hidden.bs.modal", function() {document.getElementById("updateForm").reset();}); 

    $("#uploadSubmit").click(function(){
        var formdata = new FormData(); //ajax上传文件的时候，需要这个类型，它会将添加给它的键值对加工成formdata的类型
        var token = $("[name='csrfmiddlewaretoken']").val();
        formdata.append("csrfmiddlewaretoken", token); //别忘了csrf_token
        formdata.append("uploadFile",$("#uploadFile")[0].files[0]);
        $.ajax({
            {% comment %} url:"upload/", {% endcomment %}
            url:"{% url 'Inspection:uploadInspection' material.id %}",
            type:"post",
            data:formdata, //将添加好数据的formdata放到data这里
            processData: false,    // 不处理数据
            contentType: false,    // 不设置内容类型
            dataType: "json",
            success:function(data){
                if (data.ret){
                    $('#myTab').bootstrapTable('refresh');
                    window.location.reload();
                    toastr.success("导入成功！");
                    }
                else {
                    toastr.error("错误：" + data.errMsg);
                }},
            error: function(data){
                toastr.error('导入异常！')
                }
        })
    });

    function update() {
        $.ajax(
            {
                //几个参数需要注意一下
                cache:false,
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "{% url 'Inspection:updateInspectionData' material.id %}" , //url
                headers:{"X-CSRFToken":$.cookie("csrftoken")},
                data: $('#updateForm').serialize(), //将模态框的form表单数据序列化，以便提交到后台
                processData: false,// 不加会报错
                //contentType: false,// 不加会报错
                async:true,  //必须要为false,必须必须

                success: function (data) {
                    console.log(data);//打印服务端返回的数据(调试用)
                    if(data.ret){
                        {#关闭模态框并清除框内数据，否则下次打开还是上次的数据#}
                        $('#updateModal').modal('hide');
                        {# 判断确实正确入库之后提示#}
                        toastr.success('提交数据成功');
                        {#刷新表格数据#}
                        $("#myTab").bootstrapTable('refresh');
                     }
                    else {
                        toastr.error('Error: ' + data.errMsg)
                    }
                 },
                error : function() {

                    toastr.error("输入数据有误！");
                 }
            });
    }
    
    function add() {
        $.ajax({
        //几个参数需要注意一下
            cache:false,
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{% url 'Inspection:addInspectionData' material.id %}" ,//url
            headers:{"X-CSRFToken":$.cookie("csrftoken")},
            data: $('#addForm').serialize(), //将模态框的form表单数据序列化，以便提交到后台
            async:true,  //必须要为false,必须必须

            success: function (data) {
                if(data.ret){
                    {#关闭模态框并清除框内数据，否则下次打开还是上次的数据#}
                    //document.getElementById("add-smoke-form").reset();
                    $('#addModal').modal('hide');
                    {# 判断确实正确入库之后提示#}
                    toastr.success('提交数据成功');
                    {#刷新表格数据#}
                    $("#myTab").bootstrapTable('refresh');
                 }
                else {
                    toastr.error('错误：'+ data.errMsg);
                }
             },
            error : function() {
                toastr.error("输入数据有误！");
             }
        });
    }
    function actionFormatter(value, row, index) {
        var id = row.id;
        row.url = "{% url 'Inspection:deleteInspectionData' material.id %}";
        var data = JSON.stringify(row);
        var result = "";
        result += "<a href='javascript:;' class='btn btn-xs blue' onclick=" + "EditViewById(" + index + "," + data + ")" + " title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
        result += "<a href='javascript:;' class='btn btn-xs red' onclick=" + "deleteconfirm(" + data + ")" + " title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
        return result;
        }

     // getData方法获取全部页面数据后，将data转为json对象，使用index当前行号作为下标获取对应数据
    function EditViewById(index, data){
        $("#u_categorySelect option").removeAttr("selected");
        $("#u_modeSelect option").removeAttr("selected");

        $("#u_idInput").val(data.id);
        $("#u_numInput").val(data.num);
        $("#u_nameInput").val(data.name);
        $("#u_upperInput").val(data.upper);
        $("#u_lowerInput").val(data.lower);
        $("#u_categorySelect option").each(function(){
            if($(this).val()==data.category){
                $(this).attr('selected', true)
            }
        });
        $("#u_modeSelect option").each(function(){
            if($(this).val()==data.mode){
                $(this).attr('selected', true)
            }
        });
        //弹出修改模态框，非新增模态框
        $('#updateModal').modal('show');
    }

    var columns =  [
            //{
                //checkbox: true
            //},
            {
                field: 'no',
                title: '序号',
                align: "center",
                valign: 'middle',
                width: "5%",
                formatter: function (value, row, index) {
                    //获取每页显示的数量
                    var pageSize = $('#myTab').bootstrapTable('getOptions').pageSize;
                    //获取当前是第几页
                    var pageNumber = $('#myTab').bootstrapTable('getOptions').pageNumber;
                    //返回序号，注意index是从0开始的，所以要加上1
                    return pageSize * (pageNumber - 1) + index + 1;
                }
            },
            {
                field: 'num',
                title:'检验项编号',
                width: '5%',
                align: 'center',
                valign: 'middle',
                sortable: false,
            },
            {
                field: 'name',
                title:'检验项名称',
                width: '25%',
                align: 'center',
                valign: 'middle',
                sortable: false,
            },
            {
                field: 'category',
                title:'分类',
                width: '10%',
                align: 'center',
                valign: 'middle',
                sortable: false,
                formatter:function (value, row, index) {
                    var category_obj = {};
                    {% for category in categorys %}
                        category_obj["{{category.0}}"]= "{{ category.1 }}";
                    {% endfor %}
                    return category_obj[value];
                },
            },
            {
                field: 'mode',
                title:'检验方法',
                width: '10%',
                align: 'center',
                valign: 'middle',
                sortable: false,
                formatter:function (value, row, index) {
                    var obj = {};
                    {% for mode in modes %}
                        obj["{{mode.0}}"]= "{{ mode.1 }}";
                    {% endfor %}
                    return obj[value];
                },
            },

            {
                field: 'upper',
                title:'上限',
                width: '15%',
                align: 'center',
                valign: 'middle',
            },
           {   field: 'lower',
                title:'下限',
                width: '15%',
                align: 'center',
                valign: 'middle',
            },
            {
                field: 'operate',
                title: '操作',
                align: 'center',
                valign: 'middle',
                formatter: actionFormatter,
            },
        ];

    var urls = "{% url 'Inspection:getInspectionData' material.id %}";
    tableFresh(columns, urls, 'id');

</script>

{% endblock %}
