{% extends 'base.html' %}
{% load static %}
{% block title %}BOM管理{% endblock %}
{% block css %}{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>BOM管理<small>BOMManager</small></h1>
        <ol class="breadcrumb">
            <li><a href="#">主页</a></li>
            <li class="active">BOM管理</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ product.product_name}} {{ product.erp_no }}</h3>
                        </div>


                        <!-- /.box-header -->
                        <div class="box-body" >
                            {#        自定义搜索条件区域#}
                        <div class="fixed-table-toolbar">
                            <div class="pull-left search">
                                <input id="search_keyword" class="form-control" placeholder="请输入名称以查询">
                            </div>
                            <div class="columns columns-left btn-group pull-left">
                                <button id="search_button" type="button" class="btn btn-primary">查询</button>
                            </div>
                            <div class="columns columns-left btn-group pull-left">
                                <button id="reset-button" type="button" class="btn btn-primary" onclick="clean()">重置</button>
                            </div>

                         <!-- 按钮触发模态框 -->

                            <div class="columns columns-right btn-group pull-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMaterialModal">新增记录</button>
                            </div>

                            <form id="uploadForm" >
                                {% csrf_token %}
                                <div class="columns columns-right btn-group pull-right">
                                    <input type="button" class="btn btn-facebook" name="submit" value="导入" id="uploadSubmit">
                                </div>
                                <div class="columns columns-right btn-group pull-right">
                                    <input type="file"  class="form-row" name="uploadFile" id="uploadFile" placeholder="请选择文件">
                                </div>
                            </form>


                            <!-- 新增模态框（Modal） -->
                            <form id="addMaterialForm" action="#" method="post" class="form-horizontal" role="form">
                                <div class="modal fade" id="addMaterialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">新增记录</h4>
                                            </div>
                                            {# 模态框body #}
                                            <div class="modal-body" style="height: 100%;">

                                                <div class="form-group">
                                                    <label for="nameInput" class="col-sm-3 control-label" >物料名称</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control"  name="nameInput" id="nameInput" required="required"
                                                            placeholder="请输入物料名称..." style="text-align: left">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="modelText" class="col-sm-3 control-label" >型号规格</label>
                                                    <div class="col-sm-7">
                                                        <textarea class="form-control" name="modelText" id="modelText" required="required"
                                                                  placeholder="请输入型号规格..." style="text-align: left"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="categorySelect" class="col-sm-3 control-label" >物料类别</label>
                                                    <div class="col-sm-7">
                                                        <select class="form-control" name="categorySelect" id="categorySelect" required="required">
                                                            <option value="">请选择项目</option>
                                                            {% for category in categorys %}
                                                            <option value="{{ category.0 }}" hassubinfo="true">{{ category.1 }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="erpInput" class="col-sm-3 control-label" >物料号</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control"  name="erpInput" id="erpInput" required="required"
                                                            placeholder="请输入物料号..." style="text-align: left">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="quantityInput" class="col-sm-3 control-label" >用量</label>
                                                    <div class="col-sm-7">
                                                        <input type="number" class="form-control"  name="quantityInput" id="quantityInput" required="required"
                                                            placeholder="请输入数量..." style="text-align: left">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="traceInput" class="col-sm-3 control-label" >是否追溯</label>
                                                    <div class="col-sm-7">
                                                        <input type="checkbox" class="checkbox checkbox-inline" name="traceInput" id="traceInput" required="required"
                                                            style="text-align: left">
                                                    </div>
                                                </div>

{#                                              <div class="form-group">#}
{#                                                   <label for="firstname" class="col-sm-3 control-label">转测时间</label>#}
{#                                                   <div class='input-group col-sm-7 date' id='datetimepicker2'>#}
{#                                                        <div class="col-sm-7" id='datetimepicker2'>#}
{#                                                             <input type='text' class="form-control" name="submit_test_time" id="submit_test_time" required="required">#}
{#                                                             <span class="input-group-addon">#}
{#                                                                 <span class="glyphicon glyphicon-calendar"></span>#}
{#                                                             </span>#}
{#                                                         </div>#}
{#                                                     </div>#}
{#                                              </div>#}

                                            </div>
                                {#            模态框底部#}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <input type="button" data-dissmiss="modal" onclick="addSubmit()" class="btn btn-primary"value="提交">
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </form>


                            <!-- 修改数据模态框（Modal） -->
                            <form id="updateMaterialForm" action="#" method="post" class="form-horizontal" role="form">
                                <div class="modal fade" id="updateMaterialModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeModal()">
                                                &times;
                                                </button>
                                                <h4 class="modal-title" id="updateModalLabel">
                                                    修改项目
                                                </h4>
                                            </div>
                                            {# 模态框body #}
                                             <div class="modal-body" style="height: 100%;">
                                                <div class="form-group">
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control"  name="idUpdateInput" id="idUpdateInput" required="required" style="text-align: left;
                                                            display: none;">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="nameUpdateInput" class="col-sm-3 control-label" >物料名称</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control"  name="nameUpdateInput" id="nameUpdateInput" required="required"
                                                            placeholder="请输入物料名称..." style="text-align: left">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="modelUpdateText" class="col-sm-3 control-label" >型号规格</label>
                                                    <div class="col-sm-7">
                                                        <textarea class="form-control" name="modelUpdateText" id="modelUpdateText" required="required"
                                                                  placeholder="请输入型号规格..." style="text-align: left"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="categoryUpdateSelect" class="col-sm-3 control-label" >物料类别</label>
                                                    <div class="col-sm-7">
                                                        <select class="form-control" name="categoryUpdateSelect" id="categoryUpdateSelect" required="required">
                                                            <option value="">请选择项目</option>
                                                            {% for category in categorys %}
                                                            <option value="{{ category.0 }}" hassubinfo="true">{{ category.1 }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="erpUpdateInput" class="col-sm-3 control-label" >物料号</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control"  name="erpUpdateInput" id="erpUpdateInput" required="required"
                                                            placeholder="请输入物料号..." style="text-align: left">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="quantityUpdateInput" class="col-sm-3 control-label" >用量</label>
                                                    <div class="col-sm-7">
                                                        <input type="number" class="form-control"  name="quantityUpdateInput" id="quantityUpdateInput" required="required"
                                                            placeholder="请输入数量..." style="text-align: left">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="traceUpdateInput" class="col-sm-3 control-label" >是否追溯</label>
                                                    <div class="col-sm-7">
                                                        <input type="checkbox" class="checkbox checkbox-inline" name="traceUpdateInput" id="traceUpdateInput" required="required"
                                                            style="text-align: left">
                                                    </div>
                                                </div>

                                                {# 模态框底部#}
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()" >关闭</button>
                                                    <input type="button" class="btn btn-primary" onclick="updateSubmit()" value="提交"/>
                                                </div>
                                             </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                                </div>
                            </form>

                           {#        bootstrap table自动渲染区域#}
                            <table id="materialTable" class="table table-bordered table-hover"></table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{% block script %}
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
<link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
<script src="{% static 'js/toastr.min.js' %}"></script>s


<script>
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: true,
        positionClass: "toast-top-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

    $("#uploadSubmit").click(function(){
        var formdata = new FormData(); //ajax上传文件的时候，需要这个类型，它会将添加给它的键值对加工成formdata的类型
        var token = $("[name='csrfmiddlewaretoken']").val();
     　　formdata.append("csrfmiddlewaretoken", token); //别忘了csrf_token
        formdata.append("uploadFile",$("#uploadFile")[0].files[0]);
        $.ajax({
            url:"upload/",
            type:"post",
            data:formdata, //将添加好数据的formdata放到data这里
            processData: false,    // 不处理数据
            contentType: false,    // 不设置内容类型
            dataType: "json",
            success:function(data){
                console.log(data.ret);
                if (data.ret){
                    toastr.success("导入成功！");
                    $('#materialTable').bootstrapTable('refresh');
                    $("#uploadFile");
                    }
                },
            error: function(data){
                console.log(data);

                toastr.error('导入异常！')
                }
        })
    });

    $("#addMaterialModal").on("hidden.bs.modal", function() {
        document.getElementById("addMaterialForm").reset();
        });
    $("#updateMaterialModal").on("hidden.bs.modal", function() {
        document.getElementById("updateMaterialForm").reset();
        });

    function closeModal() {
        $("#update_p_name option:selected").each(function () {
            $(this).attr("selected", false);
        })
    }

    function updateSubmit() {
        $.ajax(
            {
                //几个参数需要注意一下
                cache:false,
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "{% url 'bom_manager:update' product_id %}" ,//url
                data: $('#updateMaterialForm').serialize(), //将模态框的form表单数据序列化，以便提交到后台
                processData: false,// 不加会报错
                //contentType: false,// 不加会报错
                async:false,  //必须要为false,必须必须

                success: function (data) {
                    console.log(data);//打印服务端返回的数据(调试用)
                    if(data.ret){

                        {#关闭模态框并清除框内数据，否则下次打开还是上次的数据#}
                        $('#updateMaterialModal').modal('hide');

                        {# 判断确实正确入库之后提示#}
                        toastr.success('提交数据成功');

                        {#刷新表格数据#}
                        $("#materialTable").bootstrapTable('refresh');

                     }
                    else {
                        toastr.error('Error: ' + data.errMsg)
                    }
                 },
                error : function() {
                    toastr.error("输入数据有误！");
                 }
            });
    }
    
    function addSubmit() {
        $.ajax({
        //几个参数需要注意一下
            cache:false,
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{% url 'bom_manager:add' product_id %}" ,//url
            data: $('#addMaterialForm').serialize(), //将模态框的form表单数据序列化，以便提交到后台
            async:false,  //必须要为false,必须必须

            success: function (data) {
                if(data.ret){
                    {#关闭模态框并清除框内数据，否则下次打开还是上次的数据#}
                    //document.getElementById("add-smoke-form").reset();
                    $('#addMaterialModal').modal('hide');
                    {# 判断确实正确入库之后提示#}
                    toastr.success('提交数据成功');
                    {#刷新表格数据#}
                    $("#materialTable").bootstrapTable('refresh');
                 }
                else {
                    toastr.error('错误：'+ data.errMsg);
                }
             },
            error : function() {
                toastr.error("输入数据有误！");
             }
        });
    }

    function actionFormatter(value, row, index) {
        //console.log(value);
        //console.log(row);
        //console.log(index);
        var id = row.id;
        var data = JSON.stringify(row);
        var result = "";
        {#result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-search'></span></a>";#}
        {#result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + JSON.stringify(row) + "','" + id + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";#}
        result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + id + "','" + index + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
        {#result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"edit()\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";#}
        result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"deleteconfirm('" + id + "')\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
        return result;
    }

     // getData方法获取全部页面数据后，将data转为json对象，使用index当前行号作为下标获取对应数据
    function EditViewById(id, index){
        $("#categoryUpdateSelect option").removeAttr("selected");
        $("#traceUpdateInput").attr('checked', false);

        var data = JSON.stringify($("#materialTable").bootstrapTable('getData')); //获取全部数据
        var data_json = JSON.parse(data); //data_json和data_json2一样都是json对象
        //由于data2已经是对象了，alert不能显示对象只能显示为[object Object],需要控制台打印
        {#alert(data_json[0]); #}
        //根据index找到对应行数据，填充数据到修改模态框
        $("#idUpdateInput").val(data_json[index].id);
        $("#nameUpdateInput").val(data_json[index].name);
        $("#modelUpdateText").val(data_json[index].model);
        $("#erpUpdateInput").val(data_json[index].erp_no);
        $("#quantityUpdateInput").val(data_json[index].quantity);
        if (data_json[index].is_traced){
            $("#traceUpdateInput").attr('checked', true);
        }
        var tmp = data_json[index].category;
        $("#categoryUpdateSelect").val(tmp);

        //弹出修改模态框，非新增模态框
        $('#updateMaterialModal').modal('show');
    }

    // 搜索查询按钮触发事件
    $(function() {
        $("#search_button").click(function () {
            $('#materialTable').bootstrapTable(('refresh')); // 很重要的一步，刷新url！
        })
    });

    // 重置按钮触发事件
    function clean(){
                    //先清空
                    $('#search_keyword').val('');
                    //清空后查询条件为空了，再次刷新页面，就是全部数据了
                    $('#materialTable').bootstrapTable(('refresh')); // 很重要的一步，刷新url！
                }

    $('#materialTable').bootstrapTable({
        url:"{% url 'bom_manager:getMaterials' product.id %}",    //请求后台的URL（*）
        method: 'GET',   //请求方式（*）
        dataType: "json",
        uniqueId: 'id',
        striped: false,
        cache: false,
        sortName: 'id',
        sortable: false,
        sortOrder: 'desc',
        sidePagination: "server",
        undefinedText: '--',
        singleSelect: false,
        toolbar: '#soft-toolbar',
        search: false,
        strictSearch: true,
        clickToSelect: true,
        pagination: true,
        pageNumber: 1,
        pageSize: 20,
        pageList: [20, 50, 100],
        paginationPreText: "上一页",
        paginationNextText: "下一页",
        queryParamsType: "",
        queryParams : function (params){
            var temp = {
                pageSize : params.pageSize,
                pageNumber : params.pageNumber,
                searchText: params.searchText,
                sortName: params.sortName,
                sortOrder: params.sortOrder,
                search_kw: $('#search_keyword').val(), // 请求时向服务端传递的参数
            };
            return temp;
        },

        columns: [
            //{
                //checkbox: true
            //},
            {
                field: 'no',
                title: '序号',
                sortable: true,
                align: "center",
                valign: 'middle',
                width: "5%",
                formatter: function (value, row, index) {
                    //获取每页显示的数量
                    var pageSize=$('#materialTable').bootstrapTable('getOptions').pageSize;
                    //获取当前是第几页
                    var pageNumber=$('#materialTable').bootstrapTable('getOptions').pageNumber;
                    //返回序号，注意index是从0开始的，所以要加上1
                    return pageSize * (pageNumber - 1) + index + 1;
                }
            },
            {
                field: 'name',
                title:'名称',
                width: '10%',
                align: 'center',
                valign: 'middle',
            },
            {
                field: 'model',
                title:'型号规格',
                width: '10%',
                align: 'center',
                valign: 'middle',
            },
            {
                field: 'erp_no',
                title:'物料号',
                width: '15%',
                align: 'center',
                valign: 'middle',
            },
            {
                field: 'category',
                title:'类型',
                width: '10%',
                align: 'center',
                valign: 'middle',
                formatter:function (value, row, index) {
                    var category_obj = {};
                    {% for category in categorys %}
                        category_obj["{{category.0}}"]= "{{ category.1 }}";
                    {% endfor %}
                    return category_obj[value];
                },
            },
            {
                field: 'is_traced',
                title:'是否追溯',
                width: '5%',
                align: 'center',
                valign: 'middle',
            },
            {
                field: 'quantity',
                title:'用量',
                width: '5%',
                align: 'center',
                valign: 'middle',
            },
            {
                field: 'c_time',
                title:'创建时间',
                width: '15%',
                align: 'center',
                valign: 'middle',
            },
            {   field: 'm_time',
                title:'修改时间',
                width: '15%',
                align: 'center',
                valign: 'middle',
            },
            {
                field: 'operate',
                title: '操作',
                align: 'center',
                valign: 'middle',
                formatter: actionFormatter,
            },
        ],
        onLoadSuccess: function(data) {
            //toastr.success("数据加载成功！", "错误提示");

           },
        onLoadError: function () {
            toastr.error("数据加载失败！", "错误提示");
        },
        onClickRow: function (row, $element) {
            //    EditViewById(id, 'view');
            //toastr.error("数据加载失败！", "错误提示");

        }
    });

    function deleteconfirm(id) {
        var tmp = confirm("确认删除？")
        if(tmp === true){
            DeleteByIds(id)
        }
    }

    function DeleteByIds(id) {
        $.ajax({
            type: "POST",
            url: "{% url 'bom_manager:delete' product_id %}",
            //url: '/product_category/pc_index/deletePcData/',
            data: {id: id},
            dataType: "json",
            success: function (data) {
                if (data.ret) {
                    toastr.success("数据删除成功！");
                    $('#materialTable').bootstrapTable('refresh');
                }
            },
            error: function (data) {
                toastr.error("数据删除失败！")
            }
        });
    }

</script>

{% endblock %}
